@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #090d16;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Custom Leaflet Dark Popup Styles */
.leaflet-popup-content-wrapper {
  background: #1e293b !important;
  color: #f8fafc !important;
  border-radius: 12px !important;
  padding: 6px 10px !important;
  border: 1px solid #334155 !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5) !important;
}

.leaflet-popup-tip {
  background: #1e293b !important;
}
