# Server Port
PORT=3000

# MongoDB Connection String
# For Local MongoDB (Default):
MONGODB_URI=mongodb://127.0.0.1:27017/location_tracker

# For MongoDB Atlas Cloud Cluster, replace with your URI:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/location_tracker?retryWrites=true&w=majority
